{% extends "layout.html" %}
{% block content %}
<div style="text-align: center;">
    <h1>About MiloSAR</h1>
    <img src="./static/miloSAR.png" alt="miloSAR top down view">
    <p>The miloSAR is a testbed radar designed to be low-cost and rapidly re-configurable. 
        Built from commercial S-Band components, its purpose is primarily to develop and test the radioCamera: A C-band synthetic-aperture radar (SAR)	
        created by droneSAR (Pty) Ltd to fit onto small drones and take SAR imagery of the surrounding landscapes. DroneSAR is allowing farmers and scientists to view their crops from a new perspective 
        regardless of any possible obstructions by providing calibrated, geocoded radar images to be analyzed. DroneSAR is making precision agriculture widely available at a low cost. 
        Find out more at <a href="http://demo.dronesar.com/">demo.dronesar.com/</a>.
    </p> 
</div>
{% endblock %}